.card-img-top {
    height: 20vw;
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem; 
}

.p1 {
    font-size: 1.0rem;
    margin-top: -10px;
}

.p2 {
    font-size: 0.8rem;
    margin-top: -10px;
}

.p3 {
    line-height: 80%;
}
