.home-bg {
  filter: brightness(80%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-text {
  font-size: 65px;
  padding-top: 250px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.subtext {
  font-size: 30px;
  text-align: center;
  color: white;
  opacity: 0.5;
}

.search-btn {
  background-color: #f5f5f5;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  margin-top: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}