.box {
  margin-top: 3rem;
  border: 5px solid #f1f1f1;
  border-radius: 5px;
  float: right;
  vertical-align: "middle";
}

.search {
  max-width: 90%;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
  text-align: left;
  display: inline-block;
}

.searchIcon {
  height: 50px;
  width: 50px;
  background-color: white;
  padding-top: 6px;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}