.card-front {
    background-color: #000000;
    border: none;
    border-radius: 1;
}

.p {
    line-height: 0.8;
}

.footer-front {
    font-size: 1.5rem;
    background-color: #000000;
}

.container {
    display: flex;
    align-items: flex-start;
}

.plus-icon {
    margin-left: auto;
}