body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


* {
    box-sizing: border-box;
}

/* All the snapping stuff */
.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

.bg {
    font-size: 90px;
    padding-top: 200px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* gray, centered, padding on right and left, bold */
.reg-text {
    font-size: 25px;
    text-align: center;
    color: rgb(160, 160, 160);
    opacity: 0.9;
    font-weight: bold;
    padding-left: 15%;
    padding-right: 15%;
}

.small-text {
    font-size: 20px;
    text-align: center;
    color: rgb(25, 25, 25);
    opacity: 0.8;
    font-weight: bold;
    padding-left: 15%;
    padding-right: 15%;
}